.header {
  height: 74px;
  border-bottom: 1px solid #ececec;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.wrapper {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
   justify-content:center;
}

.logo img{
  display:block;
  width:146px;
  height:auto;
  object-fit:contain;
}

.nav {
  display: flex;
  align-items: center;
  gap: 36px;
}

.nav a {
  color: #444;
  text-decoration: none;
  font-size: 15px;
  transition: .2s;
}

.nav a:hover {
  color: #28a745;
}

.active {
  color: #28a745 !important;
  font-weight: bold;
}

.loginBtn {
  width: 150px;
  height: 44px;
  border: none;
  border-radius: 10px;
  background: #28a745;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: .2s;
}

.loginBtn:hover {
  background: #21903a;
}

.userMenu{
    position:relative;
}


.userBtn{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:8px;

    min-width:140px;
    padding:0 18px;
    height:44px;

    border:none;
    border-radius:12px;

    background:#28A745;
    color:#fff;
    cursor:pointer;
}

.dropdown{
    position:absolute;
    right:0;
    top:100%;

    margin-top:6px;

    width:190px;

    background:#fff;

    border-radius:12px;

    box-shadow:0 12px 30px rgba(0,0,0,.15);

    opacity:0;
    visibility:hidden;

    transition:.2s;
}

.userMenu:hover .dropdown{
    opacity:1;
    visibility:visible;
}

.dropdown a,
.dropdown button{
    display:block;
    width:100%;
    padding:14px 18px;

    text-align:right;

    background:none;
    border:none;

    cursor:pointer;
}
.dropdown a:hover,
.dropdown button:hover{
    background:#f4f4f4;
}