.title {
  font-size: 36px;
  margin: 40px 70px 0;
  text-align: right;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: 70px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 16px;
    gap: 20px;
  }


  .title {
    font-size: 28px;
    margin: 40px 70px 0;
    text-align: right;
  }
}

