.search {
  width: 874px;
  max-width: 1040px;
  height: 71px;
  direction: ltr;
  margin: 0 auto;

  display: flex;
  align-items: center;

  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 20px;

  overflow: hidden;
}

.search button {
  width: 190px;
  height: 56px;

  margin: 8px;

  border: none;
  border-radius: 16px;

  background: #28a745;
  color: #fff;

  font-family: inherit;
  font-size: 20px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.25s;
}

.search button:hover {
  background: #23913c;
}

.item,
.button {
  direction: rtl;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  height: 100%;

  padding: 0 28px;

  border-right: 1px solid #ececec;
}

.item:last-child {
  border-right: none;
}

.item svg {
  color: #666;
  font-size: 22px;
}

.item select {
  width: 100%;

  border: none;
  outline: none;

  background: transparent;

  font-family: inherit;
  font-size: 17px;

  cursor: pointer;
}

.dateInput {
  width: 100% !important;

  border: none !important;
  outline: none !important;

  background: transparent !important;

  font-family: inherit !important;
  font-weight: 700;

  cursor: pointer;
}

/* @media (max-width: 768px) {
  .search {
    width: calc(100% - 32px);
    height: auto;
    margin: 20px auto;
    padding: 16px;

    display: flex;
    flex-direction: column;

    border-radius: 20px;
    gap: 12px;
  }

  .item {
    width: 100%;

    border: 1px solid #e7e7e7;
    border-radius: 14px;

    padding: 0 14px;

    display: flex;
    justify-content: flex-start;
  }

  .item:nth-child(3),
  .item:nth-child(4) {
    width: 100%;
  }

  .item:nth-child(2) {
    order: 1;
  }

  .item:nth-child(3) {
    order: 0;
  }

  .item:nth-child(4) {
    order: 0;
  }

  .search button {
    order: 2;

    width: 100%;

    margin: 0;

    border-radius: 14px;

    font-size: 17px;
  }
} */

@media (max-width: 768px) {
  .search {
    width: calc(100% - 32px);
    margin: 20px auto;
    padding: 16px;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    border-radius: 20px;
  }

  .item {
    width: 100%;
    height: 56px;

    padding: 0 14px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    border: 1px solid #e7e7e7;
    border-radius: 14px;
    border-right: 1px solid #e7e7e7;
    box-sizing: border-box;
  }

  /* تاریخ */
  .item:nth-of-type(1) {
    grid-column: 1 / 3;
    order: 2;
  }

  /* مقصد */
  .item:nth-of-type(2) {
    order: 1;
  }

  /* مبدا */
  .item:nth-of-type(3) {
    order: 1;
  }

  .search button {
    grid-column: 1 / 3;

    width: 100%;
    height: 56px;

    margin: 0;

    border-radius: 14px;
    font-size: 18px;

    order: 3;
  }

  .item select,
  .dateInput {
    width: 100% !important;
    font-size: 16px;
  }

  .dateInput {
    width: 100% !important;
    text-align: center !important;
    direction: rtl !important;
  }
  .item:has(.dateInput) {
    justify-content: center;
  }

}
