.footer {
  margin: 25px 0;
  width: auto;
  height: auto;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 240px;
}

.logo h5{
margin-top: 15px;
font-size: 15px;
font-weight: 400;
}
.item {
  display: flex;
  justify-content: space-between;
}
.item h2 {
  font-size: 26px;
  color: #282828;
  font-weight: 700;
}

.item h4 {
  font-size: 16px;
  color: #282828;
  font-weight: 300;
}
.support {
  display: flex;
  align-items: center;
}

.text_support {
  display: flex;
  flex-direction: column;
}

.line {
  width: 1188px;
  height: 0;
  margin: 50px auto;
  border: solid 1px #00000033;
}

.about {
  display: flex;
  margin: 25px;
}

.about div {
  margin: 0 30px;
}
.about h4 {
  font-size: 18px;
  font-weight: 400;
  color: #282828;
}

.about h2 {
  font-size: 24px;
  font-weight: 600;
  color: #282828;
  margin-bottom: 15px;
}

.support {
  display: flex;
  flex-direction: column;
}
.support_item {
  display: flex;
  margin: 60px 15px 15px 100px;
}

.support_item img {
  width: 68px;
  height: 74px;
  margin: 0 10px 15px 15px;
}

.line_end{
  width: 1440px;
  height: 0;
  border: 1px solid #00000033;
}

.torino h3 {
  font-size: 16px;
  font-weight: 400;
  color: #00000080;
  text-align: center;
  margin: 10px;
}
.torino h4 {
  font-size: 16px;
  font-weight: 400;
  color: #00000099;
  text-align: center;
  margin: 10px;
}
