.container {
  max-width: 1050px;

  margin: 90px auto 40px;

  direction: rtl;
}

.title {
  font-size: 28px;

  margin-bottom: 35px;
}

.card {
  background: white;

  border: 1px solid #ddd;

  border-radius: 14px;

  margin-bottom: 25px;

  overflow: hidden;
}

.header {
  height: 70px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0 30px;
}

.header h3 {
  font-size: 18px;

  font-weight: 700;
}

.status {
  padding: 6px 18px;

  border-radius: 20px;

  font-size: 13px;
}

.completed {
  background: #d7f7dd;

  color: #18a844;
}

.divider {
  height: 1px;

  background: #eee;
}

.info {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 30px;

  padding: 28px 35px;
}

.item {
  display: flex;

  gap: 10px;

  align-items: center;

  font-size: 15px;
}

.item span {
  color: #777;
}

.item strong {
  color: #222;

  font-weight: 500;
}

.green {
  color: #00a651 !important;
}

@media (max-width: 768px) {
  .container {
    margin: 40px 15px;
  }

  .header {
    padding: 0 15px;
  }

  .info {
    grid-template-columns: 1fr;

    padding: 20px;
  }

  .item {
    justify-content: space-between;
  }
}
